


<br>
<form class="form-inline">

  <div class="form-group mx-sm-3 mb-2">
    <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="nome" placeholder="Pesquisar Nome">
  </div>
  <button type="button" (click)="buscar()" class="btn btn-primary mb-2">Buscar</button>

  <button type="button" [routerLink]="['/usuarioAdd']" routerLinkActive="router-link-active" style="margin-left: 5px;" class="btn btn-success mb-2">Novo</button>
</form>

<!-- DataTales Example -->
<div class="card shadow mb-4">
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Tabela de Usuários</h6>
  </div>
</div>




<div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NOME</th>
          <th scope="col">CPF</th>
          <th scope="col">EXCLUIR</th>
          <th scope="col">EDITAR</th>
        </tr>
      </thead>
      <tfoot>




        <th scope="col">ID</th>
        <th scope="col">NOME</th>
        <th scope="col">CPF</th>
        <th scope="col">EXCLUIR</th>
        <th scope="col">EDITAR</th>

      </tfoot>
      <tbody>
        <tr>
          <tr  *ngFor="let user of usuarios">
            <td>{{user.id}}</td>
            <td>{{user.nome}}</td>
            <td>{{user.cpf}}</td>
            <td> <button (click)="deleteUsuario(user.id)" class="btn btn-danger">Excluir</button> </td>
            <td> <button  [routerLink]="['/usuarioAdd', user.id]" routerLinkActive="router-link-active"  class="btn btn-warning">Editar</button> </td>
          </tr>
        <tr>
      </tbody>
    </table>
  </div>
</div>



<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; ID PACK</span>
    </div>
  </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->


