<p style="padding: 10px;">Tela de cadastro</p>

<form style="padding: 10px" #formValidate="ngForm">

  <div class="form-row">
    <div class="form-group col-md-1">
      <label for="id">ID</label>

      <input type="text" class="form-control" id="id" [(ngModel)]="usuario.id" name="id" readonly="true"
        autocomplete="false">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="nome">Nome </label>
      <span style="color:red; font-size: 23px;" *ngIf="nomeValidate.invalid"> *</span>
      <input type="text" class="form-control" id="nome" [(ngModel)]="usuario.nome" #nomeValidate="ngModel" name="nome"
        required="true" autocomplete="false">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="login">E-mail ou Login </label>
      <span style="color:red; font-size: 23px;" *ngIf="loginValidate.invalid"> *</span>
      <input type="text" class="form-control" id="login" [(ngModel)]="usuario.login" #loginValidate="ngModel"
        name="login" required="true" autocomplete="false">
    </div>

    <div class="form-group col-md-6">
      <label for="senha">Senha </label>
      <span style="color:red; font-size: 23px;" *ngIf="senhaValidate.invalid"> *</span>
      <input type="password" class="form-control" id="senha" [(ngModel)]="usuario.senha" #senhaValidate="ngModel"
        name="senha" required="true" autocomplete="false">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="cpf">CPF </label>
      <span style="color:red; font-size: 23px;" *ngIf="cpfValidate.invalid"> *</span>
      <input type="text" [brmasker]="{person: true}" class="form-control" id="cpf" [(ngModel)]="usuario.cpf" #cpfValidate="ngModel" name="cpf"
        required="true" autocomplete="false">
    </div>
  </div>

  <div class="card shadow mb-2">
    <div class="card text-center">
      <h3>Telefone Contato</h3>
    </div>
    <div class="card-body" style="padding-left: 10px;">
      <div class="form-row">
        <div class="form-group col-md-3">
          <input type="text" [brmasker]="{phone: true}"  class="form-control" [(ngModel)]="telefone.numero" id="numero" name="numero">
        </div>

        <div class="form-group col-md-2">
          <button class="btn btn-primary" (click)="addFone()">Adicionar</button>
        </div>
      </div>

    </div>

    <table class="table">

      <tbody>
        <tr *ngFor="let fone of usuario.telefones; let i = index " class="table-success">

          <td>{{fone.id}}</td>
          <td>{{fone.numero }}</td>

          <td><button class="btn btn-danger" (click)="deletarTelefone(fone.id, i)">Delete</button></td>

        </tr>


      </tbody>

    </table>

  </div>


  <br>

  <div class="form-row">
    <div class="form-group col-md-6">
      <button type="button" class="btn btn-primary" [routerLink]="['/usuarios']"
        routerLinkActive="router-link-active">Voltar</button>
      <button type="button" class="btn btn-primary" (click)="novo()" style="margin-left: 10px;">Novo</button>
      <button type="button" class="btn btn-primary" [disabled]="formValidate.invalid" (click)="salvar()"
        style="margin-left: 10px;">Salvar</button>
    </div>
  </div>

</form>
